astropy==5.3.4
auto-mix-prep==0.2.0
cdasws==1.7.47
click==8.1.7
dataframe-image==0.2.3
imbalanced-learn==0.12.2
ipython==8.12.3
joblib==1.4.2
matplotlib==3.8.4
numpy==1.22.1
pandas==2.0.3
python-dotenv==1.2.2
PyYAML==6.0.1
requests==2.34.2
scikit-learn==1.4.2
scipy==1.7.3
seaborn==0.13.2
setuptools==70.1.1
shap==0.46.0
statsmodels==0.14.2
tqdm==4.66.4
tqdm-joblib==0.0.4
fastparquet>=0.8.1